body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;

}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    max-height: 150px;
    object-fit: contain;
}

.product-name {
    font-size: 18px;
    margin: 15px 0;
    color: #333;
    flex-grow: 1;
}

.product-price {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: rgb(244, 174, 11);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: #218838;
}